:host {
  display: block;
}

.gear {
  width: 6rem;
  height: 6rem;
  animation: gear-spin 8s linear infinite;
}

.gear--lg {
  width: 6rem;
  height: 6rem;
}

.gear--sm {
  position: absolute;
  top: 2rem;
  left: 2rem;
  width: 3rem;
  height: 3rem;
  animation: gear-spin-reverse 6s linear infinite;
}

.animate-slow-spin {
  animation: gear-spin 30s linear infinite;
}

.animate-reverse-spin {
  animation: gear-spin-reverse 20s linear infinite;
}

@keyframes gear-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes gear-spin-reverse {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-360deg);
  }
}
