# Dependencies
node_modules/

# Expo
.expo/
dist/
web-build/

# Native builds
android/
ios/

# Environment
.env
.env.local
.env.*.local

# IDE
.idea/
.vscode/

# OS
.DS_Store
*.pem

# Debug
npm-debug.*
yarn-debug.*
yarn-error.*

# TypeScript
*.tsbuildinfo
